<c-row>  
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header ngPreserveWhitespaces>
          <strong>Create Daily Book</strong>
        </c-card-header>
        <c-card-body>
          <app-docs-example href="forms/select">
            <form cForm class="row g-3" #dailybookform="ngForm" (submit)="createDailyBook(dailybookform.value)">
              <c-col md="3">
                <label cLabel for="selParticulars">Particulars</label>
                <select id="selParticulars" aria-label="Default select example" name="particularId" ngModel cSelect>
                  <option>Select</option>
                  <option *ngFor="let particular of particularList" [value]="particular.particularId">
                    {{particular.particularName}}
                  </option>
                </select>
              </c-col>
              <!--The data have to be changed to users-->
              <c-col md="3">
                <label cLabel for="selUser">User</label>
                <select id="selUser" aria-label="Default select example" name="particularId" ngModel cSelect>
                  <option>Select</option>
                  <option *ngFor="let particular of particularList" [value]="particular.particularId">
                    {{particular.particularName}}
                  </option>
                </select>
              </c-col>
              <c-col md="3">
                <label cLabel for="txtAmount">Amount</label>
                <c-input-group>
                  <span cInputGroupText>₹</span>
                  <input aria-label="Amount" cFormControl placeholder="Amount" autocomplete="off" name="amount" ngModel/>
                  <span cInputGroupText>.00</span>
                </c-input-group>
              </c-col>
              <c-col xs="12">
                <button cButton type="submit">Create</button>
              </c-col>
            </form>            
          </app-docs-example>          
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>

  <c-row>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header>
          <strong>Daily Books</strong>
        </c-card-header>
        <c-card-body>
          <app-docs-example href="components/table#hoverable-rows">
            <table [hover]="true" cTable>
              <thead>
              <tr>                
                <th scope="col">Particular</th>
                <th scope="col">User</th>
                <th scope="col">Date</th>
                <th scope="col">Amount</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dailyBook of dailyBookList">
                  <td>{{dailyBook.particularId}}</td>
                  <td>{{dailyBook.userId}}</td>
                  <td>{{dailyBook.dailyBookDate}}</td>
                  <td>{{dailyBook.amount}}</td>
                </tr>
              </tbody>
            </table>
          </app-docs-example>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>