<c-row>  
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header ngPreserveWhitespaces>
          <strong>Create User Types</strong>
        </c-card-header>
        <c-card-body>
          <app-docs-example href="forms/layout#gutters">
            <form cForm class="row g-3 needs-validation" #usertypeform="ngForm" [validated]="userFormValidations"
            (ngSubmit)="createUserType(usertypeform.value); usertypeform.resetForm()">
              <c-col md="6">
                <label cLabel for="txtUserType">User Type</label>
                <input cFormControl id="txtUserType" required maxlength="20" type="text" name="typeName" autocomplete="off" 
                onkeydown="return /[a-z]/i.test(event.key)" ngModel/>
              </c-col>
              <c-col xs="12">
                  <button xs="12" cButton class="me-1" type="submit">Create</button>
                  <button xs="12" cButton class="me-1" type="button" (click)="resetFields(usertypeform)">Reset</button>
              </c-col>
            </form>
          </app-docs-example>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  
  
  <c-row ngPreserveWhitespaces>
      <c-col xs="12">
        <c-card class="mb-4">
          <c-card-header>
            <strong>User Type</strong>
          </c-card-header>
          <c-card-body>          
            <app-docs-example href="components/table#hoverable-rows">
              <table [hover]="true" cTable>
                <thead>
                <tr>                
                  <th scope="col">User Types</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let usertype of usertypes">
                    <td>{{usertype.typeName}}</td>
                  </tr>
                </tbody>
              </table>
            </app-docs-example>        
          </c-card-body>
        </c-card>
      </c-col>   
    </c-row>
    
